*
{
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

body {
    padding : 2%
}

h1
{
    text-align : center;
    padding : 30px;
}

h2

{
    text-align : center;
    margin : 20px;
}


div
{
    padding : 10px;
}

.logo
{
    width : 30%;
    height : auto;
}

.titre_boite
{
   font-weight : bold;
   text-align : center;
}

.com_boite
{
    font-style : italic;
}


.vert
{
    color : #218838;
}