{% include "partials/header.html" %}
<!DOCTYPE html>
<html>
  <h1>Les publications</h1>
  <body>

    <div class="row">
      <a href="{{url_for ('afficherpublis')}}" type="button" class="btn btn-success">Toutes les publications</a>

        {% for mot in motscles %}
      <a href="{{url_for ('afficherpublisCategorie', motscles_id=mot.motscles_id)}}" type="button" class="btn btn-light">{{mot.motscles_nom}}</a>
        {% endfor %}

  </div>


<div class="row">
        {% if publications%}
          {% for item in publications%}
          <p>Publiée le {{item["date"]}} <!-- Date du jour --> par <a href="{{url_for ('afficher_profil_utilisateur', user_id = item["auteur"].user_id)}}">{{item["auteur"].user_login}}</a> <br/>
            {{item["titre"]}}<br/> <!-- Titre donné par l'utilisateur -->
            {{item["texte"]}}<br/> <!-- commentaire donné par l'utilisateur -->
            <a href="{{item['lien']}}">{{item["titre_url"]}}</a> <br/> <!-- item 2 : url item 4 titre de l'url -->
            {{item["description_url"]}} <!-- description automatique -->
          </p>
          {% endfor %}
        {% endif %}

      </div>

      <nav aria-label="research-pagination">
        <ul class="pagination">
          {% for page in pagination.iter_pages() %}
              {% if page %}
                {% if page != pagination.page %}
                  <li class="page-item">
                      <a class="page-link" href="{{ url_for('afficherpublis', page=page) }}">{{page}}</a>
                  </li>
                {% else %}
                  <li class="page-item active disabled">
                    <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                  </li>
                {% endif %}
              {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
              {% endif %}
          {% endfor %}
        </ul>
    </nav>
  </body>
</html>
{% include "partials/footer.html" %}
