{% include "partials/header.html" %}

<html>
<body>
<h1>Les flux</h1>
<div>
  <div class="row d-flex justify-content-around">
    <a href="{{url_for ('rss')}}" type="button" class="btn btn-success">Tous les flux</a>

    {% for mot in motscles %}
    <a href="{{url_for ('afficherrss', motscles_id=mot.motscles_id)}}" type="button" class="btn btn-success">{{mot.motscles_nom}}</a>
    {% endfor %}
  </div>

  <div>
    <div class="row d-flex justify-content-around">
      {%  if fluxrss %}
      <!-- Chaque flux rss est représenté par une liste -->
      {% for rss in fluxrss %}
      <div class="col-4 bg-light border border-white">
        <p class="align-middle">
              <span>
                <!-- rss[5] correspond au lien vers la page de l'institution ayant fourni le flux rss
                et rss[4], qui correspond au 5e élément de la liste rss, renvoie le nom de l'institution -->
                <img src="http://www.icone-png.com/png/22/22319.png" style="width : 20px;"><a href="{{rss[5]}}">{{rss[4]}}</a>
              </span>
          <br/>
          <!-- rss[0], premier élément de la liste, renvoie le titre de la dernière actualité -->
          <span style="font-size:0.9em;">{{rss[0]}}<br/>
            <!-- rss[1] renvoie le sujet de l'actualité. L'ajout de "|safe" permet l'interprétation des balises html qui étaient contenu à l'origine directement dans le texte du sujet -->
                {{rss[1]|safe}}<br/>
            <!-- rss[2] permet de faire le lien vers la page qui développe l'actualité -->
                <a href="{{rss[2]}}" class="text-success">En savoir plussss</a><br/>
            <!-- rss[3] récupère et affiche la date de l'actualité -->
                {{rss[3]}}
              </span>
        </p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>

{% include "partials/footer.html" %}
