{% include "partials/header.html" %}
<!DOCTYPE html>
<html>
  <h1>Les publications</h1>
  <body>

  <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 1)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bibliothèques</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 2)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Musées</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 3)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Archives</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 4)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Emploi</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 5)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Recherche</a></div>

      <div class="row">
        {% if liste_publications%}
          {% for item in liste_publications%}
          <p>
            Publiée le {{item[1]}} <!-- Date du jour --> par AUTEUR A AJOUTER <br/>
            {{item[0]}}<br/> <!-- Titre donné par l'utilisateur -->
            {{item[3]}}<br/> <!-- commentaire donné par l'utilisateur -->
            <a href="{{item[2]}}">{{item[4]}}</a> <br/> <!-- item 2 : url item 4 titre de l'url -->
            {{item[5]}} <!-- description automatique -->
          </p>
          {% endfor %}
        {% endif %}
      </div>
  </body>
</html>
{% include "partials/footer.html" %}
