{% include "partials/header.html" %}
<!DOCTYPE html>
<html>
  <h1>Les publications</h1>
  <body>

  <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 1)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bibliothèques</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 2)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Musées</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 3)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Archives</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 4)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Emploi</a></div>
    <div><a href="{{url_for('afficherpublisCategorie', motscles_id = 5)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Recherche</a></div>

      <div class="row">
        {% if titre%}
          <p>
            Publiée le {{date}} <!-- Date du jour --> par {{auteur.user_nom}} <br/>
            {{titre}}<br/> <!-- Titre donné par l'utilisateur -->
            {{texte}}<br/> <!-- commentaire donné par l'utilisateur -->
            <a href="{{lien}}">{{titre_url}}</a> <br/> <!-- item 2 : url item 4 titre de l'url -->
            {{description_url}} <!-- description automatique -->
          </p>
        {% endif %}
      </div>

      <nav aria-label="research-pagination">
        <ul class="pagination">
          {% for page in pagination.iter_pages() %}
              {% if page %}
                {% if page != pagination.page %}
                  <li class="page-item">
                      <a class="page-link" href="{{ url_for('afficherpublis', page=page) }}">{{page}}</a>
                  </li>
                {% else %}
                  <li class="page-item active disabled">
                    <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                  </li>
                {% endif %}
              {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
              {% endif %}
          {% endfor %}
        </ul>
    </nav>
  </body>
</html>
{% include "partials/footer.html" %}
