{% include "partials/header.html" %}

<html>
<body>
<h1>{{motcle.motscles_nom}}</h1>
<div class="row d-flex justify-content-around">
    <a href="{{url_for ('afficherpublis')}}" role="button" class="btn btn-success">Toutes les publications</a>

    {% for mot in motscles %}
    <a href="{{url_for ('afficherpublisCategorie', motscles_id=mot.motscles_id)}}" role="button" class="btn btn-success">{{mot.motscles_nom}}</a>
    {% endfor %}
</div>

{% include "partials/publications.html" %}

</body>
</html>

{% include "partials/footer.html" %}
