{% include "partials/header.html" %}
<!DOCTYPE html>
<html>
  <h1>Les flux</h1>
  <body>
    <div>
    <div class="row">
    <a href="{{url_for ('rss')}}"><button type="button" class="btn btn-outline-primary">Tous les flux</button></a>
    <a href="{{url_for ('afficherrss', motscles_id=1)}}"><button type="button" class="btn btn-outline-secondary">Bibliothèque</button></a>
    <a href="{{url_for ('afficherrss', motscles_id=2)}}"><button type="button" class="btn btn-outline-success">Archives</button></a>
    <a href="{{url_for ('afficherrss', motscles_id=3)}}"><button type="button" class="btn btn-outline-danger">Musée</button></a>
    <a href="{{url_for ('afficherrss', motscles_id=4)}}"><button type="button" class="btn btn-outline-warning">Emploi</button></a>
    <a href="{{url_for ('afficherrss', motscles_id=5)}}"><button type="button" class="btn btn-outline-dark">Recherches</button></a>
  </div>
</div>
  <div>
  <div class="row">
      {%  if fluxrss %}
      {% for rss in fluxrss %}
      <div class="col-4 bg-light mb-3 card border-success mb-3"
      <p><span><img src="http://www.icone-png.com/png/22/22319.png" style="width : 20px;"><a href="{{rss[5]}}">{{rss[4]}}</a><span></br>
        <span style="font-size:0.9em;">{{rss[0]}}</br>
        {{rss[1]|safe}}</br>
        <a href="{{rss[2]}}" class="text-success">En savoir plussss</a></br>
        {{rss[3]}}</span>
      </p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
  </body>
</html>
{% include "partials/footer.html" %}
