{% include "partials/header.html" %}

<html>
<body>
<h1>Inscription</h1>
<p>Complétez le formulaire puis cliquez sur "S'inscrire".</p>
<form class="form" method="POST" action="{{url_for("inscription")}}">

  <div class="form-group row">
    <label for="nom" class="col-sm-2 col-form-label">Prénom, nom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nom" name="nom">
    </div>
  </div>

  <div class="form-group row">
    <label for="login" class="col-sm-2 col-form-label">Pseudo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="login" name="login" placeholder="Nom d'utilisateur pour se connecter">
    </div>
  </div>

  <div class="form-group row">
    <label for="bio" class="col-sm-2 col-form-label">Etudes réalisées</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="bio" name="bio" placeholder="Petite biographie depuis la licence">
    </div>
  </div>

  <div class="form-group row">
    <label for="promo" class="col-sm-2 col-form-label">Promo</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="promo" name="promo" placeholder="Années du master. ex : 2018">
    </div>
  </div>

  <div class="form-group row">
    <label for="spe" class="col-sm-2 col-form-label">Spécialité</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="spe" name="spe" placeholder="Archives, Livres et médias ou Histoire de l'art">
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
    </div>
  </div>

  <div class="form-group row">
    <label for="motdepasse" class="col-sm-2 col-form-label">Mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="motdepasse" name="motdepasse" placeholder="Mot de passe">
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </div>
</form>
</body>
</html>

{% include "partials/footer.html" %}
