{% include "partials/header.html" %}

<h1>Mon profil</h1>

<p>
  <img src="static/images/pythounou.png" alt="Pythounou lunetté"/>
</p>

<p><div style="font-weight:bold">Mon prénom et mon nom : </div>{{current_user.user_nom}}</p>
<p><div style="font-weight:bold">Mon pseudo : </div>{{current_user.user_login}}</p>
<p><div style="font-weight:bold">Mes études : </div>{{current_user.user_bio}}</p>
<p><div style="font-weight:bold">Ma promo : </div>{{current_user.user_promo}}</p>
<p><div style="font-weight:bold">Ma spécialité : </div>{{current_user.user_spe}}</p>
<p><div style="font-weight:bold">Mon email : </div>{{current_user.user_email}}</p>

<div>
  <a class="nav-link" href="{{url_for('modif_profil', user_id=current_user.user_id)}}">Modifier le profil</a>
</div>

{% include "partials/footer.html" %}
