{% include "partials/header.html" %}

<html>
<body>
<h1>Profil de {{utilisateur.user_nom}} ({{utilisateur.user_login}}) </h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="static/images/pythounou.png" alt="Pythounou lunetté"/>
        </div>
    </div>
</div>
<div class="container bg-light">
        <div class="row d-flex justify-content-center">
            <div class="col-3">Etudes effectuées :</div>
            <div class="col-3">{{utilisateur.user_bio}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3">Promotion</div>
            <div class="col-3">{{utilisateur.user_promo}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3">Ma spécialité :</div>
            <div class="col-3">{{utilisateur.user_spe}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3">Contact :</div>
            <div class="col-3">{{utilisateur.user_email}}</div>
        </div>
    </div>

<div>
<h2 style="text-align:center">Toutes les publications de {{utilisateur.user_nom}}</h2>
    <div class="row d-flex justify-content-around">
            {% if publications%}
              {% for item in publications%}
        <div class="col-4 bg-light border border-white">
              <p class="align-middle">Publiée le {{item["date"]}} <!-- Date du jour --> par <a href="{{url_for ('afficher_profil_utilisateur', user_id = item["auteur"].user_id)}}">{{item["auteur"].user_login}}</a> <br/>
                {{item["titre"]}}<br/> <!-- Titre donné par l'utilisateur -->
                {{item["texte"]}}<br/> <!-- commentaire donné par l'utilisateur -->
                <a href="{{item['lien']}}">{{item["titre_url"]}}</a> <br/> <!-- item 2 : url item 4 titre de l'url -->
                {{item["description_url"]}} <!-- description automatique -->
              </p>
                </div>

              {% endfor %}
            {% endif %}
          </div>
          </div>
      </body>
</html>

{% include "partials/footer.html" %}
