{% include "partials/header.html" %}

<h1>Mon profil</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="static/images/pythounou.png" alt="Pythounou lunetté"/>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6">Mon prénom et mon nom :</div>
                <div class="col-6">{{current_user.user_nom}}</div>
            </div>
            <div class="row">
                <div class="col-6">Mon pseudo :</div>
                <div class="col-6">{{current_user.user_login}}</div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light">
        <div class="row d-flex justify-content-center">
            <div class="col-3">Mes études :</div>
            <div class="col-3">{{current_user.user_bio}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3" style="font-weight:bold">Ma promo :</div>
            <div class="col-3">{{current_user.user_promo}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3" style="font-weight:bold">Ma spécialité :</div>
            <div class="col-3">{{current_user.user_spe}}</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3" style="font-weight:bold">Mon email :</div>
            <div class="col-3">{{current_user.user_email}}</div>
        </div>
    </div>
<div>
    <a class="nav-link" href="{{url_for('modif_profil', user_id=current_user.user_id)}}">Modifier le profil</a>
</div>


{% include "partials/footer.html" %}
