{% include "partials/header.html" %}

<h1> Partagez une nouvelle </h1>
<body>
  <div class="container-fluid">
  <div colspan="30">
  <p></p>
  <form class="form" method="POST" action="{{url_for('publication')}}">

  <div class="form-group row">
    <label for="lien" class="col-sm-2 col-form-label"> Lien </label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="lien" name="lien" placeholder="Entrez une URL"></input>
    </div>
  </div>

 <div class="form-group row">
  <label for="texte" class="col-sm-2 col-form-label"> Commentaire </label>
  <textarea type="text" class="col-sm-10 form-control" id="texte" name="texte" placeholder="Entrez votre commentaire ici"></textarea>
</div>

{% for mot in motscles %}
<div class="checkbox">
  <label><input type="checkbox" value="{{mot.motscles_nom}}" name="{{mot.motscles_nom}}">{{mot.motscles_nom}}</label>
</div>
    {% endfor %}

  <div class="div text-center">
    <button type="submit" class="btn btn-success btn-lg"> Postez votre info ! </button>
  </div>

</form>
</div>
</div>
</body>

{% include "partials/footer.html" %}
