{% include "partials/header.html" %}

<html>
  <body>
    <h1>Résultat(s) de votre recherche</h1>
    {% if resultats %}
        <p>{{resultats.total}} résultat(s) répond(ent) à votre recherche :</p>
        <ul>
            {% for publication in resultats.items %}
                <li>{{publication.publication_nom}}<br/>
                  <p>
                    Publiée le {{publication.publication_date}} <!-- Date du jour -->
                    {{publication.publication_titre }}<br/> <!-- Titre donné par l'utilisateur -->
                    {{publication.publication_texte}}<br/> <!-- commentaire donné par l'utilisateur -->
                    <a href="{{publication.publication_lien}}">{{publication.publication_lien}}</a><br/>
                    {{publication.publication_description_url}}<br/><!--description récupérée via BeautifulSoup -->
                  </p>
                </li>
            {% endfor %}
        </ul>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {% for page in resultats.iter_pages() %}
            {% if page %}

              {% if page != resultats.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('recherche', keyword=keyword, page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}
        {% endfor %}
      </ul>
          {% endif %}
    </nav>
  </body>
</html>

{% include "partials/footer.html" %}
