{% include "partials/header.html" %}

<html>
<body>
<h1>Fils d'actualités</h1>
<h2>Actualités Twitter</h2>
<div class="row d-flex justify-content-around text-center bg-light">
    <div class="col-4">
        <a class="twitter-timeline" data-width="300" data-height="300" data-link-color="#19CF86"
           href="https://twitter.com/ademec_enc?ref_src=twsrc%5Etfw">Tweets by ademec_enc</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-4">
        <a class="twitter-timeline" data-width="300" data-height="300" data-link-color="#19CF86"
           href="https://twitter.com/PonteIneptique?ref_src=twsrc%5Etfw">Tweets by PonteIneptique</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-4">
        <a class="twitter-timeline" data-width="300" data-height="300" data-link-color="#19CF86"
           href="https://twitter.com/lespetitescases?ref_src=twsrc%5Etfw">Tweets by Gautier Poupeau</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row d-flex justify-content-around text-center bg-light">
    <div class="col-4">
        <a class="twitter-timeline" data-width="300" data-height="300" data-link-color="#19CF86" href="https://twitter.com/seeksanusername?ref_src=twsrc%5Etfw">Tweets by seeksanusername</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/Humanit%C3%A9sNum%C3%A9riques" data-widget-id="978647785472962561">Tweets sur #HumanitésNumériques</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
    <div class="col-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/DigitalHumanities" data-widget-id="978652311131230209">Tweets sur #DigitalHumanities</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
</div>

<h2>Actualités Facebook</h2>
<div class="row d-flex justify-content-around text-center bg-light">
    <div class="col-4">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FENCMeme&tabs=timeline&width=320&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="320" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    <div class="col-4">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FInria.fr&tabs=timeline&width=320&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="320" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    <div class="col-4">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIna.fr&tabs=timeline&width=320&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="320" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
</div>
</body>
</html>

{% include "partials/footer.html" %}
