{% include "partials/header.html" %}
<h1>Tous les flux :</h1>
<body>
  <div>
  <div class="row">
  <a href="{{url_for ('rss')}}"><button type="button" class="btn btn-outline-primary">Tous les flux</button></a>
  <a href="{{url_for ('afficherrss', motscles_id=1)}}"><button type="button" class="btn btn-outline-secondary">Bibliothèque</button></a>
  <a href="{{url_for ('afficherrss', motscles_id=2)}}"><button type="button" class="btn btn-outline-success">Archives</button></a>
  <a href="{{url_for ('afficherrss', motscles_id=3)}}"><button type="button" class="btn btn-outline-danger">Musée</button></a>
  <a href="{{url_for ('afficherrss', motscles_id=4)}}"><button type="button" class="btn btn-outline-warning">Emploi</button></a>
  <a href="{{url_for ('afficherrss', motscles_id=5)}}"><button type="button" class="btn btn-outline-dark">Recherches</button></a>
  </div>
</div>
  <div>
  <div class="row">
    {%  if liste_rss %}
      {% for flux_rss in liste_rss %}
    <div class="col-4 bg-light mb-3 card border-success mb-3">
    <p><span><img src="http://www.icone-png.com/png/22/22319.png" style="width : 20px;"><a href="{{flux_rss[5]}}">{{flux_rss[4]}}</a></span></br>
      <span style="font-size:0.9em;">{{flux_rss[0]}}</br>
      {{flux_rss[1]|safe}}</br>
      <a href="{{flux_rss[2]}}" class="text-success">En savoir plussss</a></br>
      {{flux_rss[3]}}</span>
    </p>
  </div>
      {% endfor %}

    {% endif %}
  </div>
  </div>
  </body>
  {% include "partials/footer.html" %}
