<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Master TNAH</title>
    </head>
    <body>
        <h1>A propos du master TNAH</h1>
        <p>Le master « Technologies numériques appliquées à l'histoire », mention « Histoire,
            patrimoine et technologies numériques », est une formation de l'École nationale des
            chartes (Paris). Les disciplines enseignées permettent d'acquérir un bagage scientifique
            en sciences humaines et une culture technique de qualité, formant un pôle reconnu en
            humanités numériques. La formation se déroule sur deux ans. La première année est
            consacrée à l'étude des sources, la seconde à l'acquisition de compétences dans les
            technologies numériques.</p>
        <h2>Le master 1</h2>
        <p>La première année de master comporte des enseignements généraux et une spécialisation
            dans l'un des trois domaines suivants : « Archives », « Livres et médias » ou « Histoire
            de l'art ». Les étudiants de master suivent les mêmes cours que les élèves
            archivistes-paléographes.</p>
        <h2>Le master 2</h2>
        <p>Quel que soit le parcours des étudiants en master 1 (« Archives », « Livres et média » ou
            « Histoire de l'art »), les enseignements du master 2 sont communs aux trois sections.
            Cependant, l'étudiant doit choisir de suivre un parcours recherche — afin de poursuivre
            ses recherches —, ou un parcours professionnel — pour entrer plus directement dans le
            monde du travail.</p>
        <p>Le premier semestre est destiné à l'enseignement de différents modules liés aux
            thématiques des nouvelles technologies. Ceux-ci sont réalisés par des professionnels
            reconnus et portent sur les fondamentaux de l'informatique, les documents numériques
            (formats, typologie, etc.), le signalement et la description structurée des documents
            (Unimarc, XML), les techniques de publication électronique ou encore la conception et la
            réalisation d'applications documentaires pour le Web. Le second semestre, en fonction de
            l'option choisie, est consacré à son travail personnel (parcours « Recherche ») ou à un
            stage (parcours « Professionnel »). Ce travail donne lieu à la rédaction d'un
            mémoire.</p>
        <h2>A propos du projet (nom du projet)</h2>
        <p>Dans le cadre du cours sur le langage de programmation python, dispensé lors du master 2,
            cinq étudiants se sont attelés à la réalisation d'un flux d'informations interne au master
            TNAH. Le but de ce flux est de permettre un partage des actualités patrimoniales et
            numériques entre les étudiants, ainsi qu'une information sur les offres de stages et
            d'emplois.</p>
    </body>
</html>

{% include "partials/footer.html" %}
