<meta name="description" content="Pythounews crée dans le cadre du cours de Python dispensé à l'ENC">
<meta name="keywords" content="Pythounews, RSS, flux, information, TNAH, master,Chartes,Ecole, numérique, veille documentaire">
<meta name="author" content="Anne-Laure Huet">
<meta name="author" content="Fanny Mézard">
<meta name="author" content="Amandine Heathcote">
<meta name="author" content="Marie-Gaëlle Gourio">
<meta name="author" content="Alexandre Gaudin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
