<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}

</head>
<body>

<div class="row d-flex justify-content-around">
    {% if publications%}
    {% for item in publications%}
    <div class="col-4 bg-light border border-white">
        <p class="align-middle">Publiée le {{item["date"]}} <!-- Date du jour --> par
            <a class="vert" href="{{url_for ('afficher_profil_utilisateur', user_id = item['auteur'].user_id)}}">{{item["auteur"].user_login}}</a>
            </p>
        <p class="titre_boite">{{item["titre"]}}</p><!-- Titre donné par l'utilisateur -->
        <p class="com_boite">{{item["texte"]}}</p><!-- commentaire donné par l'utilisateur -->
            {% if item["titre_url"] == None %}
            <a target="_blank" href="{{item['lien']}}">{{item["lien"]}}</a>
            {% else %}
            {% endif %}
            <a class="vert" target="_blank" href="{{item['lien']}}">{{item["titre_url"]}}</a>
            {% if item["description_url"] == None %}
            {% else %}
        <p>{{item["description_url"]}}</p> <!-- description automatique -->
            {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>

